<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="org_id" class="col-sm-3 control-label"><span class="red-color">*</span>部门：</label>
            <div class="col-sm-5">
                <select class="selectpicker show-tick" title="请选择部门" id="org_id" name="org_id"
                        data-live-search="true">
                    <option value="">请选择部门</option>
                    {foreach($orgInfo as $orgid=>$orgList)}
                    <option value="{$orgList['id']}" {if condition="$userInfo['org_id'] == $orgList['id']"}selected{/if}{if condition="($orgList['rid']-$orgList['lid'] !=1)"}disabled="disabled"{/if}>{$orgList['title']}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="job_type" class="col-sm-3 control-label">角色：</label>
            <div class="col-sm-9">
                <select class="selectpicker show-tick" title="请选择角色" id="job_type" name="job_type"
                        data-rule="required;job_type;"
                        data-msg-required="请选择角色">
                    {foreach $userJobInfo as $ruleId=>$ruleName}
                    <option value="{$ruleId}" {if condition="$userInfo['job_type'] eq $ruleId"}selected{/if}>{$ruleName}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="job_id" class="col-sm-3 control-label"><span class="red-color">*</span>岗位：</label>
            <div class="col-sm-5">
                <input type="hidden" name="saveType" value="all"/>
                <select class="selectpicker show-tick" title="请选择" id="job_id" name="job_id"
                         data-live-search="true">
                    {foreach($userJobInfos as $k4=>$v4)}
                    <option value="{$v4['id']}" {if condition="$v4['id'] EQ $userInfo['job_id']"}selected{/if}>{$v4['title']}</option>
                    {/foreach}
                </select>
            </div>
            <div class="col-sm-3">
                {:build_toolbar('a',
                ['class' => 'btn btn-info btn-sm addobj','data-url' => url('/v1/auth/position/add?dialog=1')],
                '<i class="glyphicon glyphicon-plus"></i> 新增岗位')}
            </div>
        </div>
        <div class="form-group">
            <label for="rules_id" class="col-sm-3 control-label">权限标签：</label>
            <div class="col-sm-5">
                <select multiple="multiple" class="selectpicker show-tick" title="请选择(可多选)" id="rules_id" name="rules_id[]"
                        data-actions-box="true" data-live-search="true">
                    {foreach($usersLabel as $kk=>$vv)}
                    <option value="{$kk}" {if condition="in_array($kk,$userInfo['rules_id'])"}selected{/if}>{$vv}</option>
                    {/foreach}
                </select>
            </div>
            <div class="col-sm-3">
                {:build_toolbar('a',
                ['class' => 'btn btn-info btn-sm addobj','data-url' => url('/v1/auth/tag/add&dialog=1')],
                '<i class="glyphicon glyphicon-plus"></i> 新增权限标签')}
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">密码：</label>

            <div class="col-sm-5">
                <input type="text" class="form-control form-control-sm input-width-218px" id="password" name="password" value='{if empty($userInfo.password)}888888{/if}'
                       placeholder="填写了密码就修改">
            </div>
            <div class="col-sm-3">

            </div>
        </div>

        {if condition="$userInfo['status_value'] == 1"}
        <div class="form-group">
            <label for="maturitytime" class="col-sm-3 control-label">授权过期时间：</label>
            <div class="col-sm-5">
                <input class="form-control input-width-218px" name="maturitytime" value="{$userInfo.maturitytime|date='Y-m-d H:i:s',###}" type="text" readonly {if condition="$userInfo['time_type'] == 1"}id="maturitytime"{/if}/>
            </div>
        </div>
        {/if}
        <div class="form-group">
            <label for="all" class="col-sm-3 control-label">允许登录的系统：</label>
            <div class="col-sm-9">
                <div class="checkbox">
                    <label>
                        <input class="data-check_box_total allow" type="checkbox" id="all"> 全部
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
                <div class="checkbox child">
                    {foreach($allowSystem as $k2=>$v2)}
                    <label>
                        <input type="checkbox" class="data-check_box" name="allow[]" value="{$v2}" {if condition="in_array($v2,$userInfo['allow'])"}checked{/if}>{$v2}
                    </label>
                    {/foreach}
                </div>
            </div>
        </div>
        {if condition="(!empty($userInfo['status_value'])) AND ($userInfo['status_value'] == 2)"}
        <div class="form-group">
            <label for="status" class="col-sm-3 control-label">是否转入已入职：</label>
            <div class="col-sm-5">
                <select class="selectpicker show-tick" title="" id="status" name="status">
                    <option value="1">已入职</option>
                </select>
            </div>
        </div>
        {/if}
    </div>
</div>
<div class="td-align dialog-footer">
    <button class="btn btn-warning" id="cancel"> <i class="fa fa-close"></i> 取消</button>
    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 确定提交</button>
</div>
